POSTGRES_USER=username
POSTGRES_PASSWORD=password_database
POSTGRES_DB=notary_service_db
POSTGRES_DB_TEST=notary_service_db_test
TIMEZONE=America/Sao_Paulo

POSTGRES_DB_TEST=notary_service_db_test
POSTGRES_USER_TEST=username_test
POSTGRES_PASSWORD_TEST=password_database_test
